@model Form
<div class="row">
    <div class="col-md-6 offset text-center">
        <h1>Name: @Model.Name</h1>
        <h1>Location: @Model.Locations</h1>
        <h1>Favorite Language: @Model.Languages</h1>
        <h1>Comment: @Model.Comments</h1>
    </div>
</div>